<!-- Error Details Modal -->
<div id="error-details-modal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h2 class="modal-title">Error Details</h2>
			</div>
			<pre id="error-details" class="modal-body" style="max-height: 500px; overflow: scroll;">
			</pre>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Okay</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
