.table.borderless>tbody>tr>td, 
.table.borderless>tbody>tr>th {
    border: none;
}

.row-full-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}